<div class="order-blocks-container">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="nested-tabs">
    <mat-tab label="IOB Analysis">
      <div class="tab-content">
        <app-iob-analysis></app-iob-analysis>
      </div>
    </mat-tab>
    <mat-tab label="IOB Trades">
      <div class="tab-content">
        <app-iob-trades></app-iob-trades>
      </div>
    </mat-tab>
    <mat-tab label="IOB Chart">
      <div class="tab-content">
        <app-iob-chart></app-iob-chart>
      </div>
    </mat-tab>
    <mat-tab label="IOB Performance">
      <div class="tab-content">
        <app-iob-performance></app-iob-performance>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
