<div class="row" style="padding:0.25%">
    <div class="col-sm-12">
        <h6>Auto Trading Settings</h6>
        <app-auto-trading-config></app-auto-trading-config>
    </div>
</div>
<div class="row" style="height: 650px; padding:0.25%">
    <div class="col-sm-12">
        <h6>Telegram Notification Settings</h6>
        <app-telegram-settings></app-telegram-settings>
    </div>

</div>
<div class="row" style="height: 250px; padding:0.25%">
    <div class="col-sm-6">
       <!-- <h6>LTP Tracker Config</h6>
        <app-ltptracker-config></app-ltptracker-config>-->
      <h6>Daily Job Planner</h6>
      <app-daily-job-planner></app-daily-job-planner>
    </div>
    <div class="col-sm-6">

        <h6>Job Running Details</h6>
        <app-job-running-status></app-job-running-status>
    </div>
</div>
